body span {
    font-family: Arial;
}

h1 {
    color: white;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 5px 5px 10px red;
}

body {
    background-image: url(img/bgae.jpg);
    background-position: -200px -300px;
}

.container {
    width: 900px;
    height: 200px;
    background-color: rgba(108, 0, 0, 0.4);
    margin: 200px auto;
    padding: 20px;
    box-shadow: inset 3px 3px 10px red, inset -3px -3px 10px red;
    border-radius: 25px;
}

.clear {
    clear: both;
}

.gallery li {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid rgba(243, 3, 3, .3);
    margin-right: 55px;
    position: relative;
}

.gallery img {
    border-radius: 50%;
}

.gallery li,
.gallery span {
    border-radius: 50%;

}

.gallery li span {
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 150px;
    color: #333;
    text-shadow: 1px 1px 1px red;
    opacity: 0;
    transition: .5s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

div img {
    width: 150px;
}

/* overlay */
.overlay:target .next ,
.overlay:target .kembali{
    animation: panah .5s .5s forwards;
}
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: 1s;
    text-align: center;
    padding: 100px;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay img {
    max-height: 100%;
    border-radius: 30px;
    width: 300px;
    box-shadow: 5px 5px 20px red;
}

.overlay:target img {
    animation: zoomdanfade 1s;
}

.overlay .close {
    position: absolute;
    top: 60px;
    right: 430px;
    color: red;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideclose .5s .5s forwards;
}

/* navigasi */
.next, .kembali {
    width: 100px;
    height: 100px;
    background-image: url(img/next.png);
    position: absolute;
    text-indent: -9999px;
    filter: drop-shadow(10px 10px 10px red);
    top: 190px;
    margin-left: 50px;
    z-index: 20;
    opacity: 0;
}
.kembali {
    background-image: url(img/kembali.png);
    right: 840px;
    text-indent: -99999999px;
}

/* animasi */
@keyframes zoomdanfade {
    0% {
        transform: scale(0);
        opacity: (0);
    }

    100% {
        transform: scale(1);
        opacity: (1);
    }
}

@keyframes slideclose {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }

}
@keyframes panah {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
    
}